* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F8F8;
    font-family: Helvetica, sans-serif;
}

.dark-bg {
    background: linear-gradient(180deg, #090810 0%, #171236 100%);
}

a {
    text-decoration: none;
}

.main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navbar */

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 82%;
    margin: 0 auto;
    padding-top: 18px;
}

.logo {
    cursor: pointer;
}

.nav-container {
    list-style: none;
    display: inline-grid;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 100%;
    flex-basis: 23%;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.nav-container li {
    text-transform: uppercase;
}

.light-nav-content {
    font-size: 12px;
    color: #2B2B2B;
}

.dark-nav-content {
    color: #ffffff;
}

.nav-button, .search-submit, .auth-button {
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 8px 25px;
}

.nav-button {
    width: 100%;
    background-color: #349A89;
}

/* Search */

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    margin: 14px 0;
}

.search-form input[type] {
    height: 50px;
    margin: 0 5px 0 0;
}

.search-name-field, .search-location-field {
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding: 12px 20px 12px 40px;
}

.search-name-field:focus, .search-location-field:focus, .filter-select:focus, .filter-input-field:focus {
    outline: none;
}

.search-name-field {
    box-sizing: border-box;
    width: 50%;
    background-image: url('../src/res/search-icon.svg');
}

.search-location-field {
    box-sizing: border-box;
    width: 30%;
    background-image: url('../src/res/location-icon.svg');
}

.search-submit {
    width: 20%;
    background-color: #3E3961;
}

/*  */

@media(max-width: 768px) {
    .nav-wrapper {
        flex-direction: column;
    }
    .search-form {
        flex-direction: column;
    }
    .search-form input[type] {
        margin-top: 5px;
        width: 100%;
    }
    .filter-form {
        flex-direction: column;
    }
    .filter-form input[type], .filter-form select {
        margin: 4px 0;
        width: 90%;
    }
    .card-form.products-wrapper {
        width: 90%;
    }
}

@media(max-width: 1024px) {
    .nav-container {
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
}

@media(min-width: 1440px) {
    .card-form {
        width: 80%;
    }
}

/* Footer */

.footer {
    width: 100%;
    background-color: rgba(192, 196, 206, 0.127321);
    text-align: center;
    padding: 20px 0 35px;
}

.footer-content {
    font-size: 14px;
    color: #C0C4CE;
    word-spacing: 12px;
}

/* Auth-Card */

.auth-wrapper {
    margin: 128px 0 220px;
}

.auth-card {
    width: 30%;
    background-color: #ffffff;
    border-radius: 7px;
    box-shadow: 0px 2px 42px rgba(0, 0, 0, 0.111233);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auth-label {
    color: #2B2B2B;
    font-size: 22px;
    text-align: center;
    padding: 25px 0px 20px;
}

.auth-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group {
    padding: 0px 24px;
    margin-bottom: 12px;
}

.form-group label {
    text-transform: uppercase;
}

.form-group input[type=email], .form-group input[type=password], .form-group input[type=text] {
    border: 1px solid #DEDEE0;
    border-radius: 5px;
    font-size: 16px;
    background-color: #F9FAF8;
    width: 100%;
    height: 60px;
    padding: 0px 16px;
}

.form-group input[type]:focus {
    outline: none;
}

.form-group img {
    position: absolute;
    margin-left: -40px;
    margin-top: 20px;
}

.restore-pass-link {
    color: #8c8c8c;
    align-self: flex-end;
    padding-right: 20px;
}

.auth-button {
    background-color: #349A89;
    text-transform: none;
    height: 60px;
    margin: 20px 24px;
    font-size: 16px;
}

@media(max-width: 1024px) {
    .auth-card {
        width: 50%;
    }
}

@media(max-width: 425px) {
    .auth-card {
        width: 75%;
    }
}

/* Redirect Card */

.redirect-card {
    flex-direction: row;
    height: 75px;
    margin-top: 22px;
}

.redirect-card span {
    color: #2A2A2A;
}

.redirect-label {
    color: #349A89;
    text-transform: uppercase;
    cursor: pointer;
}

/* Filter Card */

.filter-form {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.217111);
}

.filter-select, .filter-input-field {
    height: 35px;
    color: #505050;
    border: 1px solid #DEDEE0;
    border-radius: 5px;
    background-color: #F9FAFB;
}

.filter-select {
    width: 33%;
    padding: 10px 50px 10px 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Remove default select styling */
    background: url('./res/select-arrow-icon.svg') no-repeat 98% 50%, url('./res/select-icon.svg') no-repeat 2% 50%;
    margin: 12px 0 12px 12px;
}

.filter-input-field {
    width: 17%;
    margin-left: 24px;
    padding: 10px;
}

/* Products */

.products-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: repeat(3, 210px);
    grid-column-gap: 7px;
    grid-row-gap: 14px;
}

.product-item {
    background: #ffffff;
    border: 1px solid #E4E4E4;
    box-shadow: 0px 4px 14px rgba(121, 121, 121, 0.0527344);
    border-radius: 4px;
    height: 100%;
}

.product-img {
    width: 97%;
    height: 150px;
    border-radius: 4px 4px 0px 0px;
    margin: 3px 3.5px 3.5px;
}

.product-name, .product-price {
    margin: 0 12px 3px 12px;
    color: #101010;
}

.product-name {
    height: 8%;
    font-size: 15px;
    overflow: hidden;
}

.product-price {
    height: 10%;
    font-weight: bold;
    font-size: 18px;
}